{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="public-home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Derniers articles</h2>
            </div>
            {% for article in articles %}
                <div class="col-4 col-md-4 col-8 mb-2">
                    <div class="card">
                        <a href="{{ path('home.show', {'id': article.id}) }}">
                            {% if article.filename %}
                                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top" alt="Image">
                            {% else %}
                                <img src="http://placehold.it/350x100" class="card-img-top" alt="Image">
                            {% endif %}
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description|length > 50 ? article.description|slice(0, 50) ~ '...' : article.description }}</p>
                            <a href="{{ path('home.show', {'id': article.id}) }}" class="btn btn-primary">Lire l'article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Ajouter un article</h2>
                {{ include('home/_form.html.twig', {form: form}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
